@mixin defaultFont {
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$boldBorder: 4px;

.carousel .img-responsive {
	width:100%;
}

.myDiv {
	@include defaultFont();
	border: 5px outset black;
	background-color: lightcyan;
	text-align: center;
	width: 200px;
	max-height: 350px;
	height: auto;
	transition: max-height 1s ease-in;
	overflow: hidden;
	&:hover {
		transform-origin: top;
		max-height:1000px;
	}
}
.newsText {
	@include defaultFont()
}
.newsText--title{
    font-weight: bold;
}
.newsThumbnail {
	border: 1px solid black;
	border-radius: $boldBorder;
	width: 150px;
}
.contactForm {
	@include defaultFont();
	border: 5px outset black;
	background-image: linear-gradient(to right, steelblue,lightsteelblue);
	text-align: center;
}
.tourDatesList {
	@include defaultFont();
	border-radius: $boldBorder;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgray;
	padding: 5px;
}
.tourDatesList--location{
    color: darkorange;
}

ul {
	.tourDatesList {
		background-color: lightseagreen;
	}
}
.flexContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.itemHeader {
	grid-area: header;
}
.itemFooter {
	grid-area: footer;
}
.itemNews {
	grid-area: news;
}
.itemMusic {
	grid-area: music;
}
.navBar {
	font-size: 32px;
	font-family: 'Metal Mania', cursive;
	font-weight: bold;
	text-align: center;
}
.navBar--selected{
	font-style: italic;
	color: green;
}
h1 {
	font-size: 32px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
header {
	text-align: center;
}
section {
	text-align: center;
}
footer {
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width:500px) {
	.gridContainer {
		display: grid;
		grid-template-areas: 'header' 'news' 'music' 'footer';
		text-align: center;
		align-items: center;
		grid-gap: 10px;
		padding: 10px;
	}
}
@media only screen and (min-width:1024px) {
	.gridContainer {
		display: grid;
		grid-template-areas: 'header header header header' 'news news music music' 'footer footer footer footer';
		text-align: center;
		align-items: center;
		grid-gap: 10px;
		padding: 10px;
	}
}
